<footer>
    <div class="footer1">
        <!-- for about-us -->
      <div class='aboutus' id="aboutus">
        <h1>AboutUs</h1>
        <h2>Nutrition Info</h2>
  <h3>Developer Details</h3>
        <div class="mydetails">
          <p><b>Name:</b><br>
            Amarthya</p>
          <p><b>Address:</b><br>
            Ameerpet,Hyderabad,Telangana,India.</p>
          <p><b>Phone:</b><br>
            8328367303</p>
          <p><b>Email:</b><br>
            venum343lm@gmail.com
          </p>
        </div>
      </div>
      <!-- for contact-us -->
      <div class='contactus' id="contactus">
        <h1>ContactUs</h1>
        <input type="text" placeholder="Enter Your Full Name" class="input" /><br>
        <input type="text" placeholder="Enter Your Email Address" class="input" /><br>
        <input type="text" placeholder="Enter Your Mobile Number" class="input" /><br>
        <textarea class="input" rows="4" cols="100" placeholder="Enter Your Message"></textarea>
        <button class="sendbutton">Send</button>
      </div>
    </div>
    <!-- for final footer -->
    <p class="finalfooter">Made With <img class='heart' src='../../assets/Vector.svg'> By ProGrad(Amarthya)</p>
  </footer>
