 <!-- HTML template for navigation bar-->
 <div class="navigation">
   <mat-toolbar color="accent">
     <span id=title>
       <mat-icon id=icon>favorite</mat-icon>NUTRITION INFO
     </span>
     <div class="align_right"></div>
     <div class="nav">
       
       <a href="/navigation bar" mat-button (click)="setValue('')">Home</a>

       <!-- menu for searching nutrients for different body elements -->
       <a mat-button [matMenuTriggerFor]="menu1">Search Nutrients For Multiple Purpose</a>
       <mat-menu #menu1="matMenu">
         <mat-button mat-menu-item (click)="setValue('Hair')">Hair</mat-button>
         <mat-button mat-menu-item (click)="setValue('Skin')">Skin</mat-button>
         <mat-button mat-menu-item (click)="setValue('Eyes')">Eyes</mat-button>
         <mat-button mat-menu-item (click)="setValue('Teeth')">Teeth</mat-button>
         <mat-button mat-menu-item (click)="setValue('Bones')">Bones</mat-button>
         <mat-button mat-menu-item (click)="setValue('Muscle')">Muscle</mat-button>
         <mat-button mat-menu-item (click)="setValue('Blood')">Blood</mat-button>
         <mat-button mat-menu-item (click)="setValue('Memory')">Memory</mat-button>
         <mat-button mat-menu-item (click)="setValue('Growth')">Growth</mat-button>
         <mat-button mat-menu-item (click)="setValue('Stamina')">Stamina</mat-button>
         <mat-button mat-menu-item (click)="setValue('Immunity')">Immunity</mat-button>
         <mat-button mat-menu-item (click)="setValue('During Pregnancy')">During Pregnancy</mat-button>
         <mat-button mat-menu-item (click)="setValue('Covid-19 Fight')">Covid-19 Fight</mat-button>
       </mat-menu>
       <a href="#contactus" mat-button>Contact Us</a>
       <a href="#aboutus" mat-button>About Us</a>
     </div>
   </mat-toolbar>
   <app-body></app-body>
   <app-footer></app-footer>
 </div>
