 <!-- HTML template for navigation bar-->
 <div class="navigation">
   <mat-toolbar color="accent">
     <span id=title>
       <mat-icon id=icon>favorite</mat-icon>NUTRITION INFO
     </span>
     <div class="align_right"></div>
     <div class="nav">
       <a href="/navigation bar" mat-button (click)="setValue('')">Home</a>
       <!-- menu for searching nutrients by name -->
       <a mat-button [matMenuTriggerFor]="menu">Search By Nutrients</a>
       <mat-menu #menu="matMenu">
         <mat-button mat-menu-item (click)="setValue1('Retinol')">Vitamin-A</mat-button>
         <mat-button mat-menu-item (click)="setValue1('Cholecalciferol')">Vitamin-D</mat-button>
         <mat-button mat-menu-item (click)="setValue1('α-tocopherol')">Vitamin-E</mat-button>
         <mat-button mat-menu-item (click)="setValue1('Phytomenadione')">Vitamin-K</mat-button>
         <mat-button mat-menu-item (click)="setValue1('Ascorbic acid')">Vitamin-C</mat-button>
         <mat-button mat-menu-item (click)="setValue1('VitaminB')">Vitamin-B</mat-button>
         <mat-button mat-menu-item (click)="setValue1('Minerals')">Minerals</mat-button>
         <mat-button mat-menu-item (click)="setValue1('Protein')">Proteins</mat-button>
         <mat-button mat-menu-item (click)="setValue1('Fats')">Fats</mat-button>
         <mat-button mat-menu-item (click)="setValue1('Carbohydrates')">Carbohydrates</mat-button>
       </mat-menu>

       <!-- menu for searching nutrients for different body elements -->
       <a mat-button [matMenuTriggerFor]="menu1">Search Nutrients For Multiple Purpose</a>
       <mat-menu #menu1="matMenu">
         <mat-button mat-menu-item (click)="setValue('Hair')">Hair</mat-button>
         <mat-button mat-menu-item (click)="setValue('Skin')">Skin</mat-button>
         <mat-button mat-menu-item (click)="setValue('Eyes')">Eyes</mat-button>
         <mat-button mat-menu-item (click)="setValue('Teeth')">Teeth</mat-button>
         <mat-button mat-menu-item (click)="setValue('Bones')">Bones</mat-button>
         <mat-button mat-menu-item (click)="setValue('Muscle')">Muscle</mat-button>
         <mat-button mat-menu-item (click)="setValue('Blood')">Blood</mat-button>
         <mat-button mat-menu-item (click)="setValue('Memory')">Memory</mat-button>
         <mat-button mat-menu-item (click)="setValue('Growth')">Growth</mat-button>
         <mat-button mat-menu-item (click)="setValue('Stamina')">Stamina</mat-button>
         <mat-button mat-menu-item (click)="setValue('Immunity')">Immunity</mat-button>
         <mat-button mat-menu-item (click)="setValue('During Pregnancy')">During Pregnancy</mat-button>
         <mat-button mat-menu-item (click)="setValue('Covid-19 Fight')">Covid-19 Fight</mat-button>
       </mat-menu>
       <a href="#contactus" mat-button>Contact Us</a>
       <a href="#aboutus" mat-button>About Us</a>
     </div>
   </mat-toolbar>
   <app-body></app-body>
   <app-footer></app-footer>
 </div>
